/* Univeral styles. */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 600 large "Times New Roman", serif;
  letter-spacing: 1px;
}

/* Styles for all three containers. */
/* Making all containers relative so, that I can set background-image properly. */

.container{
  position: relative;
  width: 60%;
  margin: 1em auto;
}

.container-1{
  height: 195px;
  border: 1.5px solid #000;
  overflow: hidden;
}

.container-2{
  height: 230px;
  border: 3px solid #000;
  margin: 1em auto 2em;
  overflow: hidden;
}

.container-3{
  height: 260px;
}

/* Styling Image containers */

/* Image container 1 */
.img-container-1{
  position: absolute;
  left: -3px;
  width: 101%;
  height: 100%;
  background: url(img.PNG) 0 0;
  background-size: cover;
}

/* Image container 2 */
.img-container-2{
  position: relative;
  left: -3px;
  width: 105%;
  height: 85%;
  background: url(img.PNG) bottom;
  background-size: cover;
}

/* Image container 3 */
.img-container-3{
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

/* Styles for text content. */
.section-1-title{
  padding: 5px 10px;
}

.section-2-title{
  padding: 5px 10px 10px;
}

.section-3-title{
  padding: 5px 10px 15px;
}